.App {
  text-align: center;
  background-color: rgb(215,103,137);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

#containerMain {
  width: 150vh;
  min-height: 100vh;
  /* background-image: url("./images/background0.jpg"); */
  background-size: 150vh 100vh;
  background-position: 50.02%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-attachment: fixed;
  padding: 10vh;
}

input {
  -moz-appearance: textfield;
  font-size: 15px;
  letter-spacing: 0.05em;
  padding: 3px 5px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  appearance: none;
  margin: 0px;
}

.container {
  background-color: #FFFFFFC0;
  width: 124vh;
  margin: 0vh 0vh 4vh;
  padding: 3vh;
  min-height: 20vh;
}
